@import "bootstrap.less";

.bg-color-primary {
    background-color: @primary-color;
}

.bg-color-primary-dark {
    background-color: @primary-dark-color;
}

.bg-color-accent {
    background-color: @accent-color;
}

.fn-color-primary {
    color: @accent-font-color;
}

.fn-color-primary-dark {
    color: @dark-font-color;
}

a, a:hover, a:active, a:visited {
    text-decoration: none !important;
}

header {
    padding: @grid-gutter-width / 4;

    .nav {
        margin-top: 9px;
    }
}

.text-middle {
    vertical-align: middle;
}

.test-autoprefix {
    display: flex;
    color: red;
}

body {
    background-color: red !important;
    color: black !important;
}