html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.bg-color-primary {
    background-color: #009688;
}

.bg-color-primary-dark-color {
    background-color: #00796b;
}

.bg-color-accent {
    background-color: #ff6e40;
}

.f-color-black {
    color: #000000;
}

.f-color-white {
    color: #ffffff;
}