<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/js/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script data-main="/static/js/main" src="/static/js/bower_components/requirejs/require.js"></script>
    <script>
        requirejs(['main'], function(){
            requirejs(['bootstrap', {% block require_scripts %}{% end %}]);
        })
    </script>
</head>
<body>
    {% block content %}
    {% end %}
</body>
</html>