<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/js/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/app.css" rel="stylesheet">
    <script>
        var modules = ['bootstrap', 'LoginController', 'RegistrationController'{% block require_scripts %}{% end %}];
    </script>
    <script data-main="/static/js/main" src="/static/js/bower_components/requirejs/require.js"></script>
</head>
<body ng-app="Application">
    <header class="col-sm-12 bg-color-primary f-color-white">
        <div class="col-sm-4">
            <h1>DalasDev</h1>
        </div>
        <div class="col-sm-8">

        </div>
    </header>
    <div>
        {% block content %}
        {% end %}
    </div>
    <footer>

    </footer>
</body>
</html>